#containment-wrapper{
	width:2643px;
	height:3432px;
	background-image: url('../assets/map.jpg');
  	background-repeat: no-repeat;
  	background-size: cover;
}
.container{
	/*border:2px solid #ccc;*/
}
.player{
	width:70px;
}
.avatar{
	position:absolute;
	width:70px;
}
.wide-avatar{
	position:absolute;
	width:120px;
}